.timer {
    font-family: "Ozone";
    font-size: 9rem;
    padding: 2rem;
    text-align: center;
    background-color: var(--black);
    border: 2px solid white;
    border-radius: 6px;
    color:#fff;
  }