.header-container {
    background:url('../../images/background.jpg') no-repeat;
    height:400px;
}

.header-container nav {
    display:flex;
    justify-content: flex-end;
}

.header-container nav div a {
    text-decoration: none;
    color:#000;
    font-size:2em;
    padding:30px 10px;
    color:oldlace;
}

.header-content {
    width:500px;
    margin:0 auto;
    padding:20px;
}

.header-content .game-title {
    font-size:5em;
    font-weight:bold;
    letter-spacing:0.5em;
    color:#fff;
    text-align:center;
}

.header-content p {
    text-align:center;
}

.header-content p button {
    text-align:center;
    border:none;
    background:orangered;
    border-radius:30px;
    color:#fff;
    cursor:pointer;
    padding:15px 70px;
    font-size:2em;

}

.play-btn-div {
    text-align:center;
    margin-top:50px;
    /* border:2px solid red; */
}